* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
	line-height: 1.6;
    color: #333;
}

/* ------------------ */
/* Bandeau haut */
.top-bar {
    background: #0077b6;
    color: white;
    font-size: 0.95rem;
    padding: 15px 0;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left p {
    margin: 5px 0;
	font-weight: bold;
	line-height: 1.2;
	font-size: 1rem;
}

.top-left p i {
    margin-right: 5px;
    color: #ffb703;
}	

.top-center h1 {
    font-size: 3.5rem;
	font-family: Georgia;
    color: #ffb703;
    text-align: center;
}

.top-center p {
   margin-top:0;
   text-align: center;
   font-style: italic;
   font-size: 1rem;
   text-decoration: underline;
   text-underline-offset: 6px;
}

.top-center h2 {
   margin-top: 0;
   text-align: center;
   font-size: 2rem;
   font-style: italic;
   font-weight: bold;
   text-decoration: underline;
   text-underline-offset: 6px;
}

.top-right .logo-top {
    max-width: 250px;
	max-height: 250px;
}

/* ------------------ */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* ------------------ */
.main-section {
    padding: 60px 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}


/* ------------------ */


.left-column h2 {
    color: #0077b6;
    margin-bottom: 20px;
	margin-top: 20px;
}

.about p {
    text-align: justify;
}

.about, .services {
    margin-bottom: 40px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.service-card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.service-card i {
    font-size: 2rem;
    color: #0077b6;
    margin-bottom: 10px;
	
}


.right-column h2 {
    color: #0077b6;
    margin-bottom: 20px;
	margin-top: 20px;
}

.slider {
    position: relative;
	height: 100%; /* ou mettre auto ou la taille px réelle =1200px? idem pour width 800px j'imagine  */
	/* mais attention car ça doit marcher pour img comme pr gif, et la page qui a gif sera plus "longue" */
    overflow: hidden;
    border-radius: 10px;
}

.slides img {
    width: 100%;
    display: none;
	border-radius: 10px;
	/*height: auto; ou 100 % plutot */
	/*object-fit: cover; a voir pour les gifs !!, surtout sur mobile*/
}

.slides img.active {
    display: block;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(a,a,a,0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.arrow.prev { 
	left: 10px; 
}

.arrow.next { 
	right: 10px; 
}


/* ------------------ */
.emergency {
    background: #d62828;
    color: white;
    text-align: center;
    padding: 60px 0;
}

.emergency-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
	font-size: 2rem;
	font-weight: bold;
}

/* Icône urgence clignotante */
.emergency-blink {
    color: #ffb703; /* jaune urgence */
    font-size: 3rem;
    animation: blink 1.5s infinite ease-in-out;
}

/* Animation douce */
@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0.3; }
    100% { opacity: 1; }
}

.btn-urgence {
    display: inline-block;
    padding: 14px 25px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    background: #ffb703;
    color: #000;
}

.btn-urgence:hover {
    background-color: #ffb000;
    transform: scale(1.05);
}

/* ----------------------------- */
/* contact - avis - réalisations */
/* ----------------------------- */

.contact-banner {
    background: #f4f4f4;
    padding: 60px 0;
}

.contact-left h2 {
	text-align: center;
}

.contact-left p {
    margin: 5px 0;
	line-height: 1.2;
}


.contact-center-right {
   margin-top : 10px; 
   text-align: center;
   font-size: 1rem;
}

.contact-center-right h4 {
   font-size: 1rem;
   font-style: italic;
   margin-bottom: 10px;
}

.contact-center-right h3 {
   font-size: 1.5rem;
   width: 300px;
   font-style: italic;
}


.btn-normal {
    display: inline-block;
    padding: 14px 25px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    background: #0077b6;
    color: white;
	width: 300px;
}

.btn-normal:hover {
    background-color: #005f8b;
    transform: scale(1.05);
}

.reviews-slider {
    max-width: 300px;
    margin-top: 10px;
	margin-bottom: 25px;
    position: relative;
}

.review {
    display: none;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.review.active {
    display: block;
}

.review-text {
    font-size: 1rem;
    margin-bottom: 15px;
    font-style: italic;
}

.review-stars {
    color: #ffb703;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.review-author {
    font-weight: bold;
    color: #333;
}

.btn-avis {
	margin-top: 15px;
    display: inline-block;
    padding: 8px 5px;
    text-decoration: none;
    border-radius: 18px;
	border: 1px solid #0077b6;
    font-weight: bold;
    background: white;
    color: #0077b6;
	width: 150px;
	font-size: 0.8rem;
}

.btn-avis:hover {
    background-color: white;
    transform: scale(1.05);
}

.back-button {
    display: flex;
    justify-content: center;   /* centrage horizontal */
    margin: 50px 0;
}

.btn-back {
    background-color: #0077b6; /* bleu thème */
    color: white ;
    border: 2px solid;  
    border-radius: 12px;       /* coins arrondis */
    padding: 12px 24px;
    font-size: 1rem;
	font-weight: bold;
    text-decoration: none;     /* enlève le soulignement */
    transition: background-color 0.3s, transform 0.3s;
}

.btn-back:hover {
    background-color: #005f8b;
    transform: scale(1.05);
}


/* ------------------ */
footer {
    background: #023047;
	font-style: italic;
    color: white;
    text-align: center;
    padding: 5px;
}

/* ------------------ */
/* Responsive */
@media (max-width: 768px) {
    .main-grid {
        grid-template-columns: 1fr;
    }

    .top-content {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .top-left p {
        font-size: 0.9rem;
		text-align: left;
    }

    .top-center h1 {
		margin-top: 25px;
        font-size: 2rem;
    }

    .top-right .logo-top {
        width: 180px; /* a voir */
		height: 180px;
    }
	
	.contact-center-right {
		margin-top : 30px; 
	}
	
	footer {
		font-size:0.7rem;
	}
	
	/*.slider {
    height: 300px; /* slider plus petit sur mobile ? changer plutot largeur ? */
	*/
  }
}

